# ignore object files, binaries and caches
*.out
.obj/
.cache/*

# used for enhanced development
tags
compile_commands.json

# compiled binary, but not sources
server
./client
./.env

# ignore soydev editor
.vscode/*
.vscode/**/*
